.image {
  display: block;
  width: 153px;
  height: 51px;
}

.auth {
  margin: 0 auto 40px;
  width: 396px;
  height: 132px;
}

@media (min-width: 744px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 743px) {
  .image {
    width: 81px;
    height: 40px;
  }
  .desktop {
    display: none;
  }
  .auth {
    display: block;
    width: 198px;
    height: 66px;
    margin-bottom: 24px;
  }
}
