.dropdown {
  position: relative;
}

.orderSelect {
  width: 130px;
  height: 42px;
  border-radius: 12px;
  border: 1px solid var(--gray200);

  padding: 9px 20px;

  font-size: 16px;
  font-weight: 400;
  text-align: start;
  color: var(--gray800);

  background-color: var(--white);
  background-image: url("@assets/icons/ic_arrow_down.svg");
  background-repeat: no-repeat;
  background-position: 85%;

  cursor: pointer;
}

.dropped {
  position: absolute;
  top: 46px;

  width: 130px;
  height: 84px;

  border-radius: 12px;
}

.droppedDisplay {
  display: none;
}

.orderOption {
  width: 130px;
  height: 42px;
  border: 1px solid var(--gray200);
  font-size: 16px;
  font-weight: 400;
  color: var(--gray800);
  background-color: var(--white);
  cursor: pointer;
}

.orderOptionTop {
  border-bottom: 1px solid var(--gray200);
  border-radius: 12px 12px 0 0;
}

.orderOptionBottom {
  border-top: none;
  border-radius: 0 0 12px 12px;
}

@media (max-width: 1200px) {
  .orderSelect,
  .dropped,
  .orderOption {
    width: 120px;
  }
}

@media (max-width: 743px) {
  .dropdown {
    grid-column: -2/-1;
    grid-row: -2;
  }
  .dropped,
  .orderOption {
    width: 130px;
  }
  .dropped {
    right: 0; /*오른쪽에 딱 맞춘다에 의의*/
  }
  .orderSelect {
    width: 42px;
    background-image: url("@assets/icons/ic_sort.svg");
    background-position: center;
  }
}
