{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": false,
  "semi": true,
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^@pages/(.*)$",
    "^@container/(.*)$",
    "^@ui/(.*)$",
    "^@api/(.*)$",
    "^@utils/(.*)$",
    "^@assets/(.*)$",
    "^@styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false
}
