.productCard {
  cursor: pointer;
}

.bestProducts__imgContainer {
  width: 282px;
  height: 282px;
}

.entireProduct__imgContainer {
  width: 221px;
  height: 221px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;

  margin-top: 16px;
}

.name {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray800);
  line-height: 17px;
}

.price {
  font-size: 16px;
  font-weight: 700;
  color: var(--gray800);
  line-height: 19px;
}

.favoriteContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.favoriteCount {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray600);
}

@media (max-width: 1200px) {
  .bestProducts__imgContainer {
    width: 336px;
    height: 336px;
  }
}

@media (max-width: 743px) {
  .bestProducts__imgContainer {
    width: 343px;
    height: 343px;
  }
  .entireProduct__imgContainer {
    width: 168px;
    height: 168px;
  }
}
