.layout {
  max-width: 640px;
  margin: 0 auto;
  padding: 60px 16px 400px;
}

.phrase {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 17.9px;
  color: var(--gray800);
  margin-bottom: 60px;
  word-break: keep-all;
}

.link {
  color: #3182f6;
}

@media all and (max-width: 1199px) {
  .layout {
    padding-top: 48px;
  }
}

@media all and (max-width: 767px) {
  .layout {
    padding-top: 24px;
  }
}
