.footer {
  background-color: var(--gray900);
}

.container {
  margin: 0 auto;
  padding: 32px 200px 108px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

.info {
  color: var(--gray400);
  flex-shrink: 0;
}

.links {
  display: flex;
  gap: 30px;
}

.link {
  color: var(--gray200);
  text-decoration: none;
  flex-shrink: 0;
}

.snsLinks {
  display: flex;
  align-items: center;
  gap: 12px;
}

.snsLink {
  width: 20px;
  height: 20px;
}
.facebook {
  background-image: url("@assets/icons/ic_facebook.png");
}
.twitter {
  background-image: url("@assets/icons/ic_twitter.png");
}
.youtube {
  background-image: url("@assets/icons/ic_youtube.png");
}
.instagram {
  background-image: url("@assets/icons/ic_instagram.png");
}

@media all and (max-width: 1199px) {
  .container {
    padding: 32px 104px 108px;
  }
}

@media all and (max-width: 767px) {
  .container {
    gap: 30px;
    flex-wrap: wrap;
    padding: 32px 32px 108px;
  }
}

@media all and (max-width: 524px) {
  .container {
    padding: 32px;
  }
  .info {
    order: 1;
  }
}
