.input,
.auth,
.authError {
  width: 100%;
  height: 56px;
  border-radius: 12px;
  padding-left: 24px;
  background-color: var(--gray50);

  font-weight: 400;
  font-size: 16px;
}
.input::placeholder {
  color: var(--gray400);
}

.auth:focus {
  outline: 2.5px solid var(--blue);
}
.authError {
  outline: 2.5px solid var(--red);
}
