.productDetailPage,
.addProductPage {
  width: 100%;
  border-radius: 12px;
  resize: none;

  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

.productDetailPage {
  height: 104px;
  background-color: var(--gray100);
  padding: 16px 24px;
}

.addProductPage {
  height: 200px;
  padding-left: 24px;
  padding-top: 16px;
  background-color: var(--gray50);
}

.productDetailPage::placeholder,
.addProductPage::placeholder {
  color: var(--gray400);
}
