body {
  background-color: #fcfcfc;
}

.best-items {
  margin: 24px auto 40px;
  max-width: 1201px;
}

.entire-items {
  margin: 40px auto;
  max-width: 1201px;
}

@media (max-width: 1200px) {
  .best-items {
    margin: 24px 24px 40px;
  }
}
